{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="content-section">
            <div class="post-container">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="Profile picture">
                <div class="post-content">
                    <div class="article-metadata">
                        <a class="author-name" href="#">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}